
@{
    ViewBag.Title = "Index";
}

<h2>Maps Api</h2>
@*<style>
    #map {
        width: 500px;
        height: 500px;
    }
</style>*@
<div id="map"></div>
<script async defer
        src="https://maps.googleapis.com/api/js?key=AIzaSyCor_0fFwcXjzCiqjBrD6_Dc3dMc61iIYc=initMap">
</script>

@* Prueba 2 *@
@Scripts.Render("~/Scripts/main.js")
@Scripts.Render("~/Scripts/localizacion.js")

@* Prueba 1 *@
<script src="~/Scripts/main.js"></script>
<script src="~/Scripts/localizacion.js"></script>
